In [1]:
import requests
import pandas as pd

In [2]:
base_url = 'http://linserv1.cims.nyu.edu:10000/films?_page=1'

In [3]:
res = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=1')
d = res.json()

In [6]:
d[0].keys()

dict_keys(['id', 'title', 'original_title', 'original_title_romanised', 'description', 'director', 'producer', 'release_date', 'running_time', 'rt_score', 'people', 'species', 'locations', 'vehicles', 'url'])

In [7]:
d[0].values()

dict_values(['2baf70d1-42bb-4437-b551-e5fed5a87abe', 'Castle in the Sky', '天空の城ラピュタ', 'Tenkū no shiro Rapyuta', "The orphan Sheeta inherited a mysterious crystal that links her to the mythical sky-kingdom of Laputa. With the help of resourceful Pazu and a rollicking band of sky pirates, she makes her way to the ruins of the once-great civilization. Sheeta and Pazu must outwit the evil Muska, who plans to use Laputa's science to make himself ruler of the world.", 'Hayao Miyazaki', 'Isao Takahata', '1986', '124', '95', ['https://ghibliapi.herokuapp.com/people/'], ['https://ghibliapi.herokuapp.com/species/af3910a6-429f-4c74-9ad5-dfe1c4aa04f2'], ['https://ghibliapi.herokuapp.com/locations/'], ['https://ghibliapi.herokuapp.com/vehicles/'], 'https://ghibliapi.herokuapp.com/films/2baf70d1-42bb-4437-b551-e5fed5a87abe'])

## 1. Examine the keys and values of the dictionary

There are 15 keys, which contain id, title, original_title, original_title-romanised, description, director, producer, release_date, running_time, rt_score, people, species, locations, vehicles, and url. A sample values are shown above.


## 2. In a markdown cell, write out what keys you may be interested in to create the report specified above

In order to create the report shown in the spec, the keys I need would be 'rt_score' and 'director.'

In [8]:
res2 = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=2')
d2 = res2.json()

In [ ]:
d2[0].keys()

In [ ]:
d2[0].values()

## In a markdown cell, describe what happens when you modify the url

By incrementing the last number, I get different results. We get key value pairs of different movies.

In [1]:
import requests
import pandas as pd

In [2]:
base_url = 'http://linserv1.cims.nyu.edu:10000/films?_page='

In [3]:
page = 1

In [4]:
dfs = []

while True:
    url = f'{base_url}{page}'
    res = requests.get(url)
    df_mid = pd.DataFrame(res.json())
    if df_mid.size == 0:
        break
    dfs.append(df_mid)
    page = page + 1

In [6]:
df = pd.concat(dfs)

In [7]:
df['rt_score'] = pd.to_numeric(df['rt_score'])

In [8]:
rt_score = df['rt_score'].groupby(df['director']).mean()

In [9]:
count = df['title'].groupby(df['director']).count()

In [10]:
merged_df = pd.merge(rt_score, count, on='director', how='left')

In [11]:
merged_df.rename(columns={'title': 'count'}, inplace=True)

In [12]:
merged_df

                       rt_score  count
director
Gorō Miyazaki         62.000000      2
Hayao Miyazaki        92.777778      9
Hiromasa Yonebayashi  93.500000      2
Hiroyuki Morita       89.000000      1
Isao Takahata         90.000000      5
Michaël Dudok de Wit  93.000000      1
Yoshifumi Kondō       91.000000      1